{% if field.value is not empty %}
    {% for application in field.value %}
        {% set applicationDetailUrl = ea_url()
            .setController('App\\Controller\\Admin\\ApplicationCrudController')
            .setAction(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Action::DETAIL'))
            .setEntityId(application.id)
        %}
        <a href="{{ applicationDetailUrl }}" style="display: block">
            {{ application.jobOffer.jobTitle }}
        </a>
    {% endfor %}
{% else %}
    No candidates
{% endif %}